.App {
  text-align: center;
}

.form__box{
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: rgb(247, 241, 241);
  margin: 30px;
  bottom: 0;
  padding: 20px;
  width: 90vw;
}

.message__box{
  display: flex !important;
  flex-direction: row !important;
} 

.message{
  margin-top: 100px;
}

/* .send__button{
  flex: 2;
} 

.input{
  flex: 1;
} */